<%- include("partials/header")%>

<% if(locals.currentUser && locals.messages) { %>
    <a href="board/newpost">Post new message</a>
    <div class="board-container">
        <% locals.messages.forEach(message => { %> 
            <%- include ("partials/message", { message }) %>
        <% }); %>
    </div>
<% }; %>