<%- include("partials/header")%>
<div class="welcome" >
    <h1>Welcome to the members club!</h1>
    <p>Browse around, solve the riddles to gain higher access, post messages! Just have fun!</p>
</div>
