<%- include("partials/header")%>

<h1>Welcome to the riddle section</h1>
<%- include("partials/formError") %>
<% if(locals.currentUser.admin) { %> 
    <p>You have solved all the riddles</p>
<% } else { %>
    <p>Solve the following riddle to gain membership benefits</p>
    <% if(!locals.currentUser.member) { %>
        <p>The secret to becoming a member is "Member"</p>
    <% } else if(!locals.currentUser.admin) { %>
        <p>The secret to becoming an admin is "The Answer to the Ultimate Question of Life, The Universe, and Everything.</p>
    <% } %>
    <form method="POST" action="/secret">
        <label for="answer">Answer: </label>
        <input type="text" name="answer" id="answer">
        <button type="submit">Submit</button>
    </form>
<% } %>